body {
    font-family: 'Kanit', sans-serif;
}

.aboutTitle{
    font-family: 'Kanit', sans-serif !important;
    text-shadow: 2px 5px black;
    color: #eb8245;
}

h2 {
    color: #eb8245;
    text-shadow: 2px 5px black;
}

