.container {
    width: 66vw;
    margin: auto;

}

.toggle {
    background-color: #5D3FD3;
    font-family: 'Kanit', sans-serif;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    font-size: 15px;
}


.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.show {
    display: block;
}