a {
    text-decoration: none;
    color: white;

}

.cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-card {
    background-color: #46DF55;
}

#scores-card {
    background-color: #27BEEE;
    /* border: 2px solid blue; */
}

#questionmark-card{
    background-color: #eb8245;
    /* border: 2px solid orange; */
}

#about-card {
    background-color: #fa6681;
    /* border: 2px solid red; */
}