body {
    background-color: rgb(233, 231, 208);
    font-family: 'Kanit', sans-serif;
}

#title {
    color: white;
    font-family: 'Kanit', sans-serif;
    margin-top: 150px;
    font-size: 60px;
}

#cards {
    position: absolute;
    bottom: 20px;
    left: 5vw;
    right: 5vw;
    display: flex;
    flex-direction: column;
}

#game-card {
    background-color: #46DF55;
    border-color: #46DF55;
    color: white;
}

#game-card:hover {
    background-color: white;
    border-color: white;
    color: #46DF55;
    transition: 0.5s;
}

#scores-card {
    background-color: #27BEEE;
    border-color: #27BEEE;
    color: white;
}

#scores-card:hover {
    background-color: white;
    border-color: white;
    color: #27BEEE;
    transition: 0.5s;

}

#questionmark-card{
    background-color: #eb8245;
    border-color: #eb8245;
    color: white;
}

#questionmark-card:hover {
    background-color: white;
    border-color: white;
    color: #eb8245;
    transition: 0.5s;

}

#about-card {
    background-color: #fa6681;
    border-color: #fa6681;
    color: white;
}

#about-card:hover {
    background-color: white;
    border-color: white;
    color: #fa6681;
    transition: 0.5s;

}