#back-btn {
    background-color: white;
    color: #5D3FD3;
    border-radius: 50%;
    cursor: pointer;
    font-size: 40px;
    width: 15vw;
    padding-bottom: 10px;
    opacity: 0.8;
}

#back-btn:active {
    opacity: 1;
}