/*
=============== 
Navbar
===============
*/
nav {
  background: white;
  box-shadow: lightgrey;
}

.links {
  color: grey;
  font-size: 1rem;
  text-transform: capitalize;
  display: block;
  padding: 0.5rem 1rem;
  transition: 1s;
}
.links a:hover {
  background: hsl(205, 86%, 81%);
  color: hsl(205, 75%, 60%);
  padding-left: 1.5rem;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: 1s;
}

@media screen and (min-width: 800px) {
}
