/*
=============== 
Navbar
===============
*/
#show {
  display: unset;
  z-index: 50;
  transform: translateY(0%);
  color: pink;
}

#hide {
  display: none;
  transform: translateY(100%);  
}

#btn-container {
  display: flex;
  justify-content: space-between;
}

#nav-btn-burger, #nav-btn-cross {
  font-size: 45px;
  color: black;
  cursor: pointer;
  z-index: 600;
}

.links-container {
  background: white;
  box-shadow: lightgrey;
  display: flex;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  height: 100vh;
  transition: 0.5s;
}

.links {
  color: grey;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  transition: 1s;
}
.links a:hover {
  background: hsl(205, 86%, 81%);
  color: hsl(205, 75%, 60%);
  padding-left: 1.5rem;
}

@media screen and (min-width: 800px) {
}
