#answerTL {
    background-color: #46DF55;
    border-color: #46DF55;
    color: white;
}

#answerTR {
    background-color: #27BEEE;
    border-color: #27BEEE;
    color: white;
} 

#answerBL {
    background-color: #eb8245;
    border-color: #eb8245;
    color: white;
}   

#answerBR {
    background-color: #fa6681;
    border-color: #fa6681;
    color: white;
}